@font-face {
    font-family: "Oswald";
    src: url('/fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muli";
    src: url('/fonts/Muli-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: "Muli", sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

p,
a,
span,
div,
li,
button,
input,
textarea,
label,
td,
th {
    font-family: "Muli", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
}

:root {
    --main-yellow: #ffdd00;
    --main-teal: #008b93;
    --main-beige: #cdc9af;
    --main-white: #fdfdfd;

    --secondary-orange: #e35205;
    --secondary-sea-blue: #003f51;
    --secondary-black: #000000;
}

body {
    background-color: var(--main-beige);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
scroll-behavior: smooth;
}